button
{
    color: white;
    background:linear-gradient(55deg, #5eda72, #4c6ef5);
    animation: gradient 2s infinite;
    border: none;
     margin-right: 20px;

}
button:hover
{
    background:linear-gradient(55deg, #24d642, #1563f3);
    transform: scale(1.05);
}
div{
    background-color: rgb(255, 255, 255);
    color:black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.Main
{
    background-color: #bccff1;
    color:rgb(22, 4, 4);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 6px 10px 8px rgba(0, 0, 0, 0.2);
}
ul
{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    padding-right: 40px;
    display: flex;
    content: center;
    justify-content: center;
    

}

 .circle {
      width: 100px;
      height: 100px;
      display: inline-block;
      background:linear-gradient(43deg, #000000, #4c6ef5);
      border-radius: 50%;

    }
    .EnterB
    {
        width: 100px;
        height: 40px;
        display: inline-block;
        background:linear-gradient(43deg, #ff6741, #1e0c20);
        margin-right: 20px;
    }
    .EnterB:hover
    {
        background:linear-gradient(43deg, #38322b, #e41d1d);
        transform: scale(1.05);
    }