.Hero #video
{

    display:block;
    object-fit: cover;


}
.Hero
{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)w;
    justify-content: center;
    
}
.Hero-text{
    position: absolute;
    bottom: -60px;
    left: 7px;
    color: #fff;
    z-index: 2;
    background: rgba(0, 0, 0, 0.45);
    padding: 24px 32px;
    border-radius: 16px;
    max-width: 60%;

}
.Hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
    font-weight: bold;
}
.Hero-text p {
    font-size: 1.1rem;
    margin-bottom: 18px;
}

.HeroButtons {
    display: flex;
    gap: 16px;
    border-radius: 20px;
    padding: 7px 6px;
    animation: 2s fadeIn ease-in-out;
}


.HeroButton {
    background: #063496;
    color: #fff;

}

.HeroButton:hover {
    background: #00ff75;
    color: #111;
    transform: scale(1.06);
    transition: background 0.2s, transform 0.2s;
    border: 0;
}

.Scroll-Buttons {
    position: absolute;
    bottom: 40%;
    display: flex;
    z-index: 2;
    width: 100%;
    text-align: center;
    
}



.scroll-right {
    background: rgba(0,0,0,0.8);
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 68px;
    height: 88px;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    right: 0;
    margin-left: 1250px;
    margin-right: 10px;

    
}
.scroll-left 
{
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    border-radius: 20px;
   width: 68px;
    height: 88px;
   position: absolute;

    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    left: 0;
}


.scroll-left:hover,
.scroll-right:hover {
    background: #98ffc8;
    color: #111;
}

